<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
<div class="content"></div>
<h1>Hello Großer</h1>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">ApiKey</th>
        <th scope="col">Price</th>
        <th scope="col">Publisher</th>
        <th scope="col">Book Type</th>
        <th scope="col">Page Count</th>
        <th scope="col">Book</th>
        <th scope="col"><a href="#" th:href="@{/buyableBook/add}" th:text="Add">Add</a></th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${#lists.isEmpty(buyableBooks)}">
        <td colspan="11" th:text="No buyable Books Available" >No Data Available</td>
    </tr>
    <tr th:each="buyableBooks, buyableBookStatus:${buyableBooks}" th:object="${buyableBooks}">
        <th scope="row"><a href="#" th:href="@{/buyableBooks/show/{id}(id=*{buyableBookApiKey})}" th:text="${buyableBookStatus.index}" >1</a>
        </th>
        <td th:text="*{buyableBookApiKey}">apiKey</td>
        <td th:text="*{price}">Price</td>
        <td th:text="*{publisherApiKey}">Publisher</td>
        <td th:text="*{bookType}">EBook</td>
        <td th:text="*{pageCount}">100</td>
        <td th:text="*{bookApiKey}">Book</td>
        <th scope="row">
            <a href="#" th:href="@{/buyableBook/edit/(key=*{buyableBookApiKey})}" th:text="Edit">Edit</a>
            <a href="#" th:href="@{/buyableBook/delete/(key=*{buyableBookApiKey})}" th:text="Delete">Delete</a>
        </th>
    </tr>
    </tbody>
</table>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
</body>
</html>